/* ********* */
/* Variables */
/* ********* */
/* Couleurs */
$blue: #2a418f;
$orange: #f5a65b;
$green: #9ebc9e;
$black: #0c1328;
$grey: #f8f8f8;
$white: #ffffff;

/* Fonts */
@import 'partials/font';

$big_title: "LilitaOne";
$titre: "AUTHENTICSans-130";
$sous_titre: "AUTHENTICSans-90";
$paragraphe: "AUTHENTICSans-60";
  
/* Breakpoints */
$grid-breakpoints: (
    "sm": 576px,
    "md": 768px,
    "lg": 992px,
    "xl": 1200px,
    "xxl": 1600px
);

/* ************** */
/* Règles de base */
/* ************** */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

body{
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background-color: #ffffff;
    overflow-x: hidden;
    color: $black;
    font-family: "AUTHENTICSans-60";
}

#wpadminbar{
    overflow: hidden;
    position: fixed;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: map-get($grid-breakpoints, lg)) {
        width: map-get($grid-breakpoints, xl);
    }

    @media (min-width: map-get($grid-breakpoints, xxl)) {
        width: 1500px;
    }

    // @media (max-width: map-get($grid-breakpoints, xl)) {
    //     width: 1170px;
    // }

    // @media (max-width: map-get($grid-breakpoints, lg)) {
    //     width: 970px;
    // }

    // @media (max-width: map-get($grid-breakpoints, md)) {
    //     width: 750px;
    // }
}

/* ******************* */
/* Classes spécifiques */
/* ******************* */

@import 'partials/btn';
@import 'partials/title';

.content-body{
    width: 100%;
    padding-bottom: 200px;
}

@import 'partials/header';

@import 'partials/footer';

/* ***** */
/* PAGES */
/* ***** */
@import 'pages/frontpage';
@import 'pages/editorial-proviseur';
@import 'pages/visite-du-lycee';