/* ********* */
/* Variables */
/* ********* */
/* Couleurs */
$blue: #2a418f;
$orange: #f5a65b;
$green: #9ebc9e;
$black: #0c1328;
$grey: #f8f8f8;
$white: #ffffff;

/* Fonts */
@import 'partials/font';

$big_title: "LilitaOne";
$titre: "AUTHENTICSans-130";
$sous_titre: "AUTHENTICSans-90";
$paragraphe: "AUTHENTICSans-60";
  
/* Breakpoints */
$grid-breakpoints: (
    "sm": 576px,
    "md": 768px,
    "lg": 992px,
    "xl": 1200px,
    "xxl": 1600px
);

/* ************** */
/* Règles de base */
/* ************** */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // position: relative;
    scroll-behavior: smooth;
}

body{
    position: relative;
    overflow-x: hidden;
    min-height: 95vh;
    background-color: #ffffff;
    color: $black;
    font-family: $paragraphe;
}

#wpadminbar{
    overflow: hidden;
    position: fixed;
}

// Mobile OnTap Remove Blue HighLight
a{
    -webkit-tap-highlight-color: transparent;
    color: $orange;
    font-family: $sous_titre;
    text-decoration: none;
    transition: color .3s ease;
    
    &:hover{ 
        color: #dc8f46;
    }
}

p{
    letter-spacing: .5px;    
    line-height: 25px;
}

img:not(.custom-size){
    width: 100%;
    height: auto;
    object-fit: cover;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: map-get($grid-breakpoints, xl)) {
        width: map-get($grid-breakpoints, xl);
    }

    @media (min-width: map-get($grid-breakpoints, xxl)) {
        width: 1500px;
    }

    // @media (max-width: map-get($grid-breakpoints, xl)) {
    //     width: 1170px;
    // }

    // @media (max-width: map-get($grid-breakpoints, lg)) {
    //     width: 970px;
    // }

    // @media (max-width: map-get($grid-breakpoints, md)) {
    //     width: 750px;
    // }
}

// Button Back to TOP
.back-to-top{
    position: fixed;
    bottom: 30px;
    right: 30px;
    opacity: 0;
    transition: .3s all ease;
    cursor: pointer;
    border-radius: 8px;

    width: 50px;
    height: 50px;
    text-align: center;
    overflow: hidden;
    z-index: 5000;

    color: #cecece;
    border: 1px solid rgba(0,0,0,.1);
    background-color: #fff;
    box-shadow: 0px 3px 6px 1px rgba(0,0,0, .07);

    display: flex;
    justify-content: center;

    &.active{
        opacity: 1;
    }
    
    i{
        display: flex;
        font-size: 20px;
        align-items: center;
        color: #505050;
    }

    &:hover{
        background-color: $orange;
        border-color: $orange;

        i{
            color: #fff;
            text-shadow: 0 3px 3px rgba(0,0,0, .15);
        }
    }
}

/* ******************* */
/* Classes spécifiques */
/* ******************* */

@import 'partials/btn';
@import 'partials/title';
@import 'partials/slick';

@import 'partials/header';

@import 'partials/footer';

/* ***** */
/* PAGES */
/* ***** */
@import 'pages/frontpage';
@import 'pages/editorial-proviseur';
@import 'pages/visite-du-lycee';
@import 'pages/acces-au-lycee';
@import 'pages/internat';
@import 'pages/single';
@import 'pages/contact';