.btn{
    display: inline-block;
    width: auto;
    font-size: 1.1rem;
    text-align: center;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid $black;

    &-primary{
        border: none;
        color: $white;
        background-color: $black;
        transition: background-color 0.3s ease-in-out;
        &.orange{
            background-color: $orange;
            font-family: $sous-titre;

            &:hover{
                background-color: #dc8f46;
                color: $white;
            }

        }
        
        &.green{
            background-color: $green;

            &:hover{
                background-color: #739d73;
                color: $white;
            }

        }

        &.blue{
            background-color: $blue;
        }
        
        &.grey{
            background-color: $grey;
        }
    }

    &-secondary{
        border: 1px solid $black;
        color: $black;
        background-color: $white;
        transition: all 0.3s ease-in-out;
        &.orange{
            color: $orange;
            border-color: $orange;
        }
        &.blue{
            color: $blue;
            border-color: $blue;
        }
        &.green{
            color: $green;
            border-color: $white;
            &:hover{
                background-color: $green;
                color: $white;
                border-color: $green;
            }
        }
        &.grey{
            color: $grey;
            border-color: $grey;
        }
    }
}
