@font-face{
    font-family: "AUTHENTICSans-60";
    src: url('../fonts/AUTHENTICSans-60.otf') format('opentype');
}  

@font-face{
    font-family: "AUTHENTICSans-90";
    src: url('../fonts/AUTHENTICSans-90.otf') format('opentype');
}  

@font-face{
    font-family: "AUTHENTICSans-130";
    src: url('../fonts/AUTHENTICSans-130.otf') format('opentype');
}  

@font-face{
    font-family: "LilitaOne";
    src: url('../fonts/LilitaOne-Regular.ttf') format('opentype');
}  