/* ****** */
/* HEADER */
/* ****** */
.header{
    background-color: #ffffff;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
    @media (min-width: map-get($grid-breakpoints, xl)){
        flex-direction: row;
        align-items: stretch;
        padding: 0px 50px;
    }
    
    .main-logo{
        height: 98px;
        width: auto;
    }

    .button-open-menu-mobile{
        display: none;
    }

    .nav-principal-mobile{
        display: none;
    }
    .nav-principal-desktop{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px 0 20px;

        @media (min-width: map-get($grid-breakpoints, xl)){
            flex-direction: row;
            justify-content: flex-end;
            padding: 0;
        }

        .site__header__menu{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            justify-content: center;
            // justify-content: flex-end;
            align-items: center;
            list-style: none;
            // margin: 10px auto;

            & > li{
                // margin-left: 25px;
                padding: 15px;
                // flex-basis: 100%;
                text-align: center;

                @media (min-width: map-get($grid-breakpoints, xl)){
                    padding: 40px 20px;
                    flex-basis: auto;
                }
            }
            li a{
                text-decoration: none;
                color: $blue;
                letter-spacing: .5px;
            }
            li.menu-item-has-children{
                transition: height .3s ease;
                & > a::after{
                    content: ">";
                    position: relative;
                    display: inline-block;
                    opacity: 0;
                    transform: rotate(90deg);
                    color: $blue;
                }
                & > a:hover{
                    &::after{
                        // opacity: 1;
                    }

                }

                ul.sub-menu{
                    // display: none;
                    position: absolute;
                    // top: 95px;
                    left: 0;
                    background: white;
                    z-index: 1;
                    right: 0;
                    /* padding: 5rem; */
                    list-style: none;
                    // height: 100px;
                    transform: scaleY(0);
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    gap: 50px;
                    transition: all .5s ease;
                    transform-origin: top;
                    box-shadow: 0px 6px 7px 0px rgba(0,0,0,.02);
                    z-index: 1000;

                    @media (min-width: map-get($grid-breakpoints, md)) {
                        flex-direction: row;
                    }

                    @media (min-width: map-get($grid-breakpoints, xl)){
                        top: 100px
                    }

                    li{
                        a{
                            font-size: 1.2rem;
                            font-family: $titre;
                            display: flex;
                            flex-direction: column-reverse;
                            align-items: center;
                            gap: 20px;

                            div{
                                overflow: hidden;
                                border-radius: 5px;
                                width: 150px;
                                height: 150px;
                                display: none;

                                @media (min-width: map-get($grid-breakpoints, md)) {
                                    display: block;
                                }

                                img{
                                    border-radius: 5px;
                                    transition: transform .5s ease;
                                    width: 150px;
                                    height: 150px;
                                    object-fit: cover;
                                    &:hover{
                                        transform: scale(1.1);
                                    }
                                }
                            }
                                                    
                        }
                    }
                }

                // @media (min-width: map-get($grid-breakpoints, xl)){
                    &:hover{
                        > ul{
                            height: 400px;
                            transform: scaleY(1);

                            @media (min-width: map-get($grid-breakpoints, md)) {
                                height: 250px;
                            }
                            // transition: all .5s ease-out;
                        }
                    }
                // }
            }
        }
        .link-contact-us{
            margin-top: 1rem;
            @media (min-width: map-get($grid-breakpoints, xl)){
                margin-top: 0;
                margin-left: 15px;
            }
        }
    }
}