/* ****** */
/* HEADER */
/* ****** */
.header{
    background-color: #ffffff;
    padding: 20px 5px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    @media (min-width: map-get($grid-breakpoints, lg)){
        flex-direction: row;
        padding: 25px 50px;
    }
    
    .main-logo{
        height: 75px;
    }
    .button-open-menu-mobile{
        display: none;
    }
    .nav-principal-mobile{
        display: none;
    }
    .nav-principal-desktop{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (min-width: map-get($grid-breakpoints, lg)){
            flex-direction: row;
            justify-content: flex-end;
        }

        .site__header__menu{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            justify-content: center;
            // justify-content: flex-end;
            align-items: center;
            list-style: none;
            margin: 10px auto;

            & > li{
                // margin-left: 25px;
                padding: 10px 20px;
            }
            li a{
                text-decoration: none;
                color: $blue;
                letter-spacing: .5px;
            }
            li.menu-item-has-children{
                transition: height .3s ease;
                & > a::after{
                    content: ">";
                    position: relative;
                    display: inline-block;
                    opacity: 0;
                    transform: rotate(90deg);
                    color: $blue;
                }
                & > a:hover{
                    &::after{
                        // opacity: 1;
                    }

                }

                ul.sub-menu{
                    // display: none;
                    position: fixed;
                    top: 160px;
                    left: 0;
                    background: white;
                    z-index: 1;
                    right: 0;
                    /* padding: 5rem; */
                    list-style: none;
                    height: 100px;
                    transform: scaleY(0);
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all .3s ease;
                    transform-origin: top;

                    li{
                        a{
                            font-size: 1.2rem;
                            font-family: $titre;
                        }
                    }
                }

                &:hover{
                    > ul{
                        height: 100px;
                        transform: scaleY(1);
                        // transition: all .3s ease;
                    }
                }
            }
        }
        .link-contact-us{
            @media (min-width: map-get($grid-breakpoints, lg)){
                margin-left: 15px;
            }
        }
    }
}