/* Front-page */
.template-front-page{
    h2{
        font-size: 1.5rem;
        color: $blue;
        margin-bottom: 30px;
        font-family: $sous_titre;
    }
    .front-page{
        &__entete{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 4rem 0;

            background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
            url("../images/LycéeCousteau - Lycée des industries de la chimie de l'agroalimentaire de la cosmétique et de la pharmacie des entreprises de propreté et de stérilisation.webp");
            img{
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
            }
            background-repeat: no-repeat;
            background-size: cover;

            @media (min-width: map-get($grid-breakpoints, xl)) {
                height: 50vh;
                padding: 0;
            }

            .main-text{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                max-width: 600px;
                line-height: 30px;

                p{
                    // word-break: break-all;
                    text-align: center;
                    margin-bottom: 30px;
                    font-family: $titre;
                    color: $white;
                    font-size: 1.5rem;

                    span.green{
                        color: #acd5ac;
                    }
                }
                .link-buttons{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    gap: 30px;
                    margin-top: 3rem;

                    @media (min-width: map-get($grid-breakpoints, 'lg')) {
                        flex-direction: row;
                        gap: 0;
                    }

                    a{
                        margin: 0 20px;

                        width: 100%;
                        padding: 15px 40px;
                        letter-spacing: .4px;
                        font-family: $sous_titre;

                        @media (min-width: map-get($grid-breakpoints, 'lg')) {
                            width: fit-content;
                        }
                    }
                }
            }
        }

        &__liens{
            margin: 5rem 0 2.5rem;

            .container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 70px;

                @media (min-width: map-get($grid-breakpoints, 'sm')) {
                    flex-direction: row;
                }

                .single-lien{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    color: $blue;
                    font-family: $sous_titre;
                    text-align: center;
                    font-size: 1.2rem;

                    img{
                        margin-bottom: 15px;
                        width: 64px;
                        height: 64px;
                        object-fit: cover;
                    }

                }
            }
        }

        &__actualites{
            padding: 5rem 0;
            overflow: hidden;
        }

        &__formations{
            background-color: $grey;
            padding: 5rem 0;

            .container{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: stretch;
                .all_formations{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    // padding: 0 75px;
                    gap: 30px;
                    margin-top: 2rem;

                    .single-formation{
                        // max-width: 200px;
                        // margin: 0 70px;
                        // margin-bottom: 50px;
                        flex-basis: 100%;
                        
                        @media (min-width: map-get($grid-breakpoints, 'md')) {
                            flex-basis: 30%;
                        }
                        a{
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: center;
                            text-decoration: none;
                            .image{
                                overflow: hidden;
                                border-radius: 50%;
                                width: 200px;
                                height: 200px;
                                margin-bottom: 20px;
                                img{
                                    width: 200px;
                                    height: 200px;
                                    object-fit: cover;
                                    object-position: center center;
                                    border-radius: 50%;
                                    transition: transform 0.5s ease;
    
                                    &:hover{
                                        transform: scale(1.1);
                                    }
                                }
                            }
                            h3{
                                color: $blue;
                                font-family: $sous_titre;
                                word-wrap: break-word;
                                text-align: center;
                                font-size: 1.2rem;
                                line-height: 1.5;
                                width: 60%;

                                span.orange{
                                    color: $orange;
                                }
                            }
                        }
                    }
                }
            }
        }

        &__questions{
            padding: 5rem 0;
            .container{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                gap: 30px;
                text-align: center;

                @media (min-width: map-get($grid-breakpoints, 'lg')) {
                    flex-direction: row;
                    gap: 0;
                }

                .single-question-card{
                    padding: 50px 35px;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    &.bg-orange{
                        background-color: #f5a55b44;
                    }
                    &.bg-green{
                        background-color: #9ebc9e44;
                    }
                    p{
                        font-family: $titre;
                        font-size: 1.4rem;
                        margin-bottom: 55px;
                    }
                    a{
                        font-size: 18px;
                        letter-spacing: .5px;
                    }
                }
            }
        }
    }
}